<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  {{> shop_head}}
</head>

<body>
  {{> shop_nav}}
  {{{body}}}
  {{> shop_footer}}
</body>

</html>